.backspace {
  display: flex;
  align-items: flex-start;
  width: 32px;
}
.select-text {
  color: #000000;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  font-family: "GmarketSansMedium";
}
.select-topic {
  text-align: left;
  font-size: 32px;
  font-weight: 400;
  font-family: "GmarketSansMedium";
  margin-bottom: 16px;
}
.select-exptext {
  font-family: "Pretendard";
  text-align: left;
  margin-top: 20px;
  font-weight: 500;
  line-height: 26px;
}
.select-button {
  font-family: "Pretendard";
  margin-top: 16px;
  height: 56px;
  width: 100%;
  background-color: transparent;
  color: #1e2024;
  border: 1.5px solid #000000;
  font-size: 24px;
  font-weight: 400;
}
.select-logo {
  width: 150px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.Divider {
  margin-top: 20px;
  height: 4px;
  width: 100%;
  background-color: #1e2024;
}
.imageLoad-button {
  background-color: #1e2024;
  color: #ffffff;
}
.guide-text {
  margin-top: 20px;
  font-weight: bolder;
  color: #1E2024; /* GreyScale/Grey800 값 적용 */
}
.help-text{
  padding-top: 25px;
  margin-bottom: 20px;
}