.Form-topic {
  font-size: 28px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 10px;
}

.Form-text {
  font-family: "Pretendard";
  font-size: 18px;
  color: #7f8c8d;
  margin-bottom: 20px;
}

.progressbar {
  width: 100%;
  height: 8px;
  background-color: #ecf0f1;
  border-radius: 4px;
  margin: 20px 0;
  overflow: hidden;
}

.progressbar div {
  height: 100%;
  background-color: #3498db;
  border-radius: 4px;
  transition: width 0.5s ease-in-out;
}

.form-container {
  color: #1e2024;
  margin-top: 16px;
  margin-bottom: 22px;
}

.question-num {
  font-size: 20px;
  font-weight: 800;
}

.form-text {
  margin-top: 8px;
  font-size: 24px;
  font-weight: 600;
}

.answers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-button {
  font-family: "Pretendard";
  display: block;
  width: 100%;
  color: #1e2024;
  border: 1.5px solid #000000;
  cursor: pointer;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 400;
  height: 64px;
  text-align: center;
}
.formImage {
  width: 100%;
}
.modal-overlay {
  background-color: rgba(30, 32, 36, 0.5); /* 반투명 배경 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; /* 모달보다 낮은 z-index 설정 */
}

.modal-content {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 40px);
  background-color: white;
  padding: 20px;
  border-radius: 50px 50px 0 0;
}

.modal-button {
  margin-top: 15px;
  background-color: #1e2024;
  font-family: "Pretendard";
  height: 56px;
  width: 100%;
  background-color: transparent;
  border: 1.5px solid #000000;
  color: #1e2024;
  font-size: 24px;
  font-weight: 400;
  transition: background-color 0.5s;
}

.modal-button.active {
  background-color: #cc0000;
  color: #f9fafa;
}
.modal-Topic {
  font-size: 24px;
  font-weight: 700;
  font-family: "Pretendard";
  margin-top: 12px;
}
.modal-text {
  font-size: 16px;
  font-weight: 500;
  font-family: "Pretendard";
  margin-top: 10px;
  color: #b3b3b3;
  margin-bottom: 32px;
}
.modal-text-element {
  display: flex;
}
.modal-check {
  color: #b3b3b3;
  font-size: 12px;
  margin-bottom: 18px;
  margin-right: 18px;
  padding: 4px;
  width: 12px;
  height: 12px;
  text-align: center;
  background-color: #e5e5e5;
  border-radius: 100%;
}
.modal-check.active {
  color: #ffffff;
  background-color: #cc0000;
}
.modal-title {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
}
.modal-essential {
  font-size: 12px;
  padding: 2px;
  color: #999999;
  margin-left: 8px;
}
