.register-info-container {
  margin-top: 34px;
}

.register-topic {
  font-size: 32px;
  text-align: left;
  color: #2c3e50;
  margin-bottom: 10px;
  font-family: "KLeagueDynamic";
}

.progressbar {
  width: 100%;
  height: 8px;
  background-color: #ecf0f1;
  border-radius: 4px;
  margin: 20px 0;
  overflow: hidden;
}

.progressbar div {
  height: 100%;
  background-color: #3498db;
  border-radius: 4px;
  transition: width 0.5s ease-in-out;
}
.question-container {
  margin: 30px 0 50px 0;
  border: 2px solid #1e2024;
  background-color: #ffffff;
  padding: 24px;
  max-height: 50vh;
  overflow-y: auto;
}
.register-text {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
}
.register-answer-text {
  height: 48px;
  justify-content: center;
  margin-bottom: 32px;
  width: 100%;
}
.age-answer {
  margin-bottom: 0;
}
.input-field {
  font-size: 26px;
  border: none;
  border-bottom: 1px solid #000;
  text-align: center;
  background-color: transparent;
  margin-right: 10px;
  padding: 6px;
  flex-grow: 1;
}
.age-input {
  width: 60px;
}
.ID-input {
  width: calc(100% - 72px);
  margin-right: 0px;
}
.nickNamwe-input {
  width: 120px;
}
.select-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background-color: transparent;
  font-size: 26px;
  padding: 6px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 8 8'%3E%3Cpath d='M0 2l4 4 4-4' fill='%23000000'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%;
  padding-right: 1.5em;
  text-align: center;
}

.register-Next-button {
  font-family: "Pretendard";
  margin-top: 16px;
  position: fixed;
  height: 56px;
  width: 90%;
  background-color: #dddfe3;
  color: #9fa1a8;
  font-size: 24px;
  font-weight: 400;
  /* margin-bottom: 74px; */
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.register-Next-button.active {
  background-color: #cc0000;
  color: #ffffff;
}
.check-button {
  width: 50px;          /* 버튼 너비 */
  height: 38px;         /* 버튼 높이 */
  margin-left: 4px;     /* 왼쪽 마진 */
  background-color: #ffffff; /* 배경색 */
  color: black;         /* 글자색 */
  border: 1px solid #000000; /* 테두리 */
  padding: 5px;         /* 패딩 */
  cursor: pointer;      /* 커서 모양 */
  border-radius: 4px;   /* 둥근 테두리 */
  font-weight: bold;
}

/* Modal Overlay */
.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center; /* Centers modal both vertically and horizontally */
  z-index: 1000; /* Ensures it's above other elements */
}

/* Modal Content */
.custom-modal-content {
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 80%; /* Responsive width for smaller screens */
  text-align: center;
  position: relative;
  z-index: 1001; /* Ensure modal content is above the overlay */
}

/* Modal Header */
.custom-modal-content h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

/* Modal Buttons */
.custom-confirm-button,
.custom-cancel-button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Confirm Button */
.custom-confirm-button {
  background-color: #cc0000;
  color: #fff;
}

/* Cancel Button */
.custom-cancel-button {
  background-color: #dddfe3;
  color: #333;
}
